:root{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#counter{
    font-size: 10rem; 
}
button{
    text-transform: uppercase;
}